<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title></title>
	</head>

	<body>

		<header>
			<h1>剪切板</h1>
		</header>
		<div class="mui-content" id='app'>
			<button type="button" @click='back'>返回</button>
			<br />
			<br />
			<br />
			<input v-model="content" />
			<button @click="copy()"> 复制 </button>
			<br />
			<input v-model="pasteContent" readonly />
			<button @click="paste()"> 粘贴 </button>
			
			
		</div>

		<script src="vue.min.js"></script>
		<script src="../js/vue.ni.js"></script>

		<script>
			new Vue({
				el: "#app",
				data: function() {
					return {
						content: "我是默认的内容",
						pasteContent: "",
					}
				},
				computed: {
					
				},
				plusReady: function() {
					console.log('Vue plusReady')
					// 设置返回键处理逻辑
					this.$back(this.back)
					
					this.shear = this.$os.android ? new this.$android.Shear(): new this.$ios.Shear()
				},
				methods: {
					copy: function(){
						this.shear.copy(this.content)
						plus.nativeUI.toast('复制成功')
					},
					paste: function(){
						var value = this.shear.paste()
						this.pasteContent = value
					},
					
					back: function(){
						plus.webview.currentWebview().close()
					}
				}

			})
			
			
		</script>

	</body>

</html>